@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 400;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 500;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 200;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 600;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Bold.woff2') format('woff2');
}

body {
    font-family: 'Geist';
    background-color: #f8f8f8;
    margin: 16px;
}

a { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
}

a:hover {
    text-decoration: none;
}

a:active { 
    text-decoration: none; 
}

img {
    background-size: cover;
    background-position: center center;
}

.header-comp {
    border-bottom: 1px solid rgba(26, 26, 26, 0.10);
    background: #F8F8F8;
}

.header-comp .header-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    min-width: 300px;
}

.header-comp .header-inner {
    background: #f8f8f8;
    height: 60px;
    position: relative;
    width: sticky;
}

.zoelee {
    font-weight: 500;
    font-size: 20px;
}

.txt-btn {
    font-size: 16px;
    font-weight: 200;
}

.sec1 {
    max-width: 1240px;
    font-size: 24px;
    font-weight: 200;
    margin: 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt {
    vertical-align: middle;
    word-wrap: break-word;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.thumbnail-detail {
    width: 100%;
    aspect-ratio: 16/9;
}

.grid {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}  


@media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
}



.footer {
    height: 60px;
}

.footer-txt {
    font-size: 12px;
    font-weight: 200;
}