body {
    background-color: #f8f8f8;
    margin: 16px;
}

.header-comp .header-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    min-width: 300px;
}

.header-comp .header-inner {
    background: #f8f8f8;
    height: 80px;
    position: relative;
    width: sticky;
}

.grid {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}


@media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}  


@media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
}

img {
    background-size: cover;
    background-position: center center;
}