@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 400;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 500;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 200;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Geist';
    font-style: 'normal';
    font-weight: 600;
    letter-spacing: -0.9px;
    src: url('./font/Geist-Bold.woff2') format('woff2');
}

body {
    font-family: 'Geist';
    background-color: #f8f8f8;
    margin: 16px;
}

.header-comp {
    border-bottom: 1px solid rgba(26, 26, 26, 0.10);
    background: #F8F8F8;
}

.header-comp .header-inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    min-width: 300px;
}

.header-comp .header-inner {
    background: #f8f8f8;
    height: 80px;
    position: relative;
    width: sticky;
}

.zoelee {
    font-weight: 500;
    font-size: 24px;
}

.sec1 {
    max-width: 1240px;
    height: 320px;
    font-size: 36px;
    font-weight: 200;
    margin: 16px;
}

.txt {
    vertical-align: middle;
    word-wrap: break-word;
}

.grid {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}


@media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}  


@media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
}

img {
    background-size: cover;
    background-position: center center;
}

.footer {
    height: 360px;
}

.footer-txt {
    font-size: 16px;
    font-weight: 200;
}